<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s.z.j"
    android:versionCode="1"
    android:versionName="1.0.1"
    >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <!-- 改变wifi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>

    <!-- 一种锁的机制, 只要有人拿着这个锁,系统就无法进入休眠，-->
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 拍照和从相册选择权限 以下3个 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取网络类型权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--允许程序获取当前WiFi接入的状态以及WLAN热点的信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 操作sd卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--  浮动窗口权限  -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!--屏幕自适应配置信息-->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".SzjApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- 程序主入口 -->
        <activity android:name=".ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 引导页 -->
        <activity android:name=".ui.nav.NavigationActivity"
            ></activity>

        <!-- 侧划菜单 -->
        <activity android:name=".ui.slidingmenu.SlidingMainActivity"></activity>

        <!-- 广播的使用 -->
        <activity android:name=".ui.BroadCastActivity"
            ></activity>

        <!-- 播放视频-->
        <activity android:name=".ui.mediaplayer.MediaPlayerActivity"></activity>

        <!-- 播放视频测试-->
        <!--<activity android:name=".ui.test.MediaPlayerTestActivity"></activity>-->

        <!-- 二维码生成与扫描 -->
        <activity android:name=".ui.qrcode.QrCodeActivity"></activity>

        <!-- 二维码扫描 -->
        <activity android:name="zxing.CaptureActivity"
            android:screenOrientation="portrait"></activity>

        <!-- 拍照和从相册选择 -->
        <activity android:name=".ui.photo.PhotographActivity"></activity>

        <!-- 设置 wifi热点 -->
        <activity android:name=".ui.wifihost.SetWifiHostActivity"></activity>

        <!-- 获取SD卡路径-->
        <activity android:name=".ui.sdcard.SdcardUrlActivity"></activity>

        <!-- 获取设备信息 -->
        <activity android:name=".ui.device.DeviceInfoActivity"></activity>

        <!-- 获取系统里安装的所有程序包名 -->
        <activity android:name=".ui.apppackage.SystemAppPackageNameActivity"></activity>

        <!-- 各种dialog -->
        <activity android:name=".ui.dialog.DialogActivity"></activity>

        <!-- 示完成的抽屉式菜单 -->
        <activity android:name=".abcde.navigationdrawer.ui.NavigationdrawerActivity"
           >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>

        <!-- 分屏播放视频和网页  -->
        <activity android:name=".fenping.ui.FenPingActivity"></activity>


        <!-- 拍照 -->
        <activity
            android:name="com.szj.library.camera.CropImageActivity"
            android:screenOrientation="portrait"></activity>

        <!-- 从相册选择 -->
        <activity
            android:name="com.szj.library.camera.MultiImageSelectorActivity"
            android:screenOrientation="portrait"></activity>

        <!-- 仿微信布局-->
        <activity android:name=".fragment.weixin.WeiXinFragmentActivity"></activity>

        <!-- 播放assets下的mp4 -->
        <activity android:name=".ui.videoplay.PlayActivity"></activity>

        <!-- 仿360卫士实现悬浮窗口显示当前使用内存-->
        <activity android:name=".xuanfuchuang_360.Xuanfu360MainActivity"></activity>
        <service android:name=".xuanfuchuang_360.FloatWindow360Service"/>

        <!-- QQ手机管家小火箭效果实现 -->
        <activity android:name=".xuanfuchuang_qq.XuanFuQqMainActivity"></activity>
        <service android:name=".xuanfuchuang_qq.FloatWindowQqService"/>

        <!-- wifi热点打开关闭监测 -->
        <service android:name=".ui.wifihost.WiFiAPService"></service>

        <!-- 图片左右滑动 -->
        <activity android:name=".tupianhuadong.MainActivity"></activity>
    </application>

</manifest>
